{% extends 'base.html' %}

{% load account %}

{% block content %}
  <div class="container">
    user: {% user_display user %}
    <a href="{% url 'account_logout' %}">Logout</a>
  </div>

  <ul>
  {% if user.is_authenticated %}
    <li><a href="{% url 'wiki_create' %}">Create Wiki</a></li>
    <li><a href="{% url 'wiki_root' %}">My Wiki</a></li>
    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
  {% else %}
    <li><a href="{% url 'account_login' %}">Sign In</a></li>
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
  {% endif %}
  </ul>
{% endblock %}
