{% extends 'base.html' %}
{% load rest_framework %}
{% load cache %}
{% load humanize %}
{% load web %}

{% block title %}
{{ wiki.title }}
{% endblock %}

{% block content %}
  {% if serializer.context.version %}
    {% define serializer.context.version as version %}
  {% else %}
    {% define wiki.version as version %}
  {% endif %}

  <div class="container">
    {% cache 86400 wiki wiki.pk version "v2" %}
    <h1>{{ wiki.title }}</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="vcenter">
          <span class="text-muted">Updated at {{ serializer.data.updated_at | naturaltime }}</span>
          <span>·</span>
          <span class="text-muted">
            <a href="{% url 'wiki_revisions' pk=wiki.id %}">
              {{ wiki.version }} revisions.
            </a>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right wiki-ops">
        </div>
      </div>
    </div>
    <div>{{ serializer.data.html | safe }}</div>
    {% endcache %}
    <style>{{ style.css }}</style>
  </div>
  <script type="text/tomato-template" id="wiki-ops-template">
    <a class="btn btn-default" href="{% url 'wiki_update' pk=wiki.pk %}">Update</a>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="wiki-ops-more-actions">
        <i class="glyphicon glyphicon-menu-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="wiki-ops-more-actions">
        <li>
          <form method="POST" action="{% url 'wiki_delete' pk=wiki.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn-link">Delete</button>
          </form>
        </li>
      </ul>
    </div>
  </script>
{% endblock %}

{% block script %}
  <script>
    {% if wiki.user == user %}
    $(function(){
      $(".wiki-ops").html($("#wiki-ops-template").html());
    });
    {% endif %}
  </script>
{% endblock %}
