{% extends 'base.html' %}
{% load rest_framework %}
{% load cache %}
{% load humanize %}

{% block content %}
  <div class="container">
    {% cache 86400 wiki wiki.pk wiki.version %}
    <h1>{{ wiki.title }}</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="vcenter">
          <span class="text-muted">Updated at {{ wiki.updated_at | naturaltime }}</span>
          <span>·</span>
          <span class="text-muted">{{ wiki.version }} revisions.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right wiki-ops">
        </div>
      </div>
    </div>
    <div>{{ serializer.data.html | safe }}</div>
    {% endcache %}
    <style>{{ style.css }}</style>
  </div>

{% endblock %}

{% block script %}
  <script>
    {% if wiki.user == user %}
    $(function(){
      var html = '<a class="btn btn-default" href="{% url 'wiki_update' pk=wiki.pk %}">Update</a>';
      $(".wiki-ops").html(html);
    })
    {% endif %}
  </script>
{% endblock %}
